

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>

    <form action="/searchShows" method="get" class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Tv Show</label>
        <input name="search" type="text" class="form-control" id="exampleInputName2" placeholder="Tv Show Name">
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>

    <br>

    <% if defined? shows and shows != nil and shows.size > 0%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Air Date</th>
            <th>Popularity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% shows.each do |show| %>
          <tr>
            <% img_src = "https://image.tmdb.org/t/p/w500#{show["poster_path"]}" %>
            <td><img src="<%= img_src %>" alt="<%= show["name"] %>" height="80" width="50"></td>
            <td><%=show["name"] %></td>
            <td><%=show["first_air_date"] %></td>
            <td><%=show["popularity"] %></td>
            <td>
              <% if my_shows.any? {|my_show| my_show["name"] == show["name"]}%>
              <form>
                <textarea style="visibility: hidden"></textarea>
                <input class="btn btn-danger" disabled type="submit" value="Already in my shows!">
              </form>
              <% else %>
                <form action="/addShow" method="post">
                  <textarea style="visibility: hidden" name="name" placeholder="New Show&hellip;"><%=show["name"] %></textarea>
                  <input class="btn btn-success" type="submit" value="Add to My Shows!">
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
