
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= show['name'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
      }
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/ico/favicon.png">
  </head>

  <body>

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <h3 class="muted">Hi, <%= session[:username]%>!</h3>
    </div>

    <hr>

    <h1><%= show['name'] %></h1>

    <br>

    <% puts show['in_production'] %>
    <% if show['in_production'] %>
    <input class="btn btn-success" value="Currently running" disabled>
    <% else %>
    <input class="btn btn-danger" value="No longer running"  disabled>
    <% end %>

    <h3>Overview</h3>
    <h4><%= show['overview'] %></h4>

    <br>

    <h3>Number of Seasons:</h3>
    <h4><%= show['number_of_seasons'] %></h4>

    <br>

    <% if TvShows.where(:name => show["name"]).first.next_episodes.to_i > 0 %>
      <p>
        <form action="/watchNext/<%= show["name"] %> " method="post">
          <input class="btn btn-success" type="submit" value="Watch NEXT!">
        </form>
      </p>
    <% else %>
       <input class="btn btn-danger"value="No episodes to watch :(">
    <% end %>

    <br>

    <h3>Unwatched Episodes:</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h4>Picture</h4></th>
          <th><h4>Episode</h4></th>
          <th><h4>Name</h4></th>
          <th><h4>Air Date</h4></th>
          <th><h4>Overview</h4></th>
          <th><h4>Rate</h4></th>
        </tr>
      </thead>
      <tbody>
        <% episodes.each do |episode| %>
        <tr>
          <% img_src = "http://image.tmdb.org/t/p/w600/#{episode["still_path"]}" %>
          <td><img src="<%= img_src %>" alt="<%= episode["name"] %>" height="100" width="80"></td>
          <td><h4>(<%= episode["season_number"] %> - <%= episode["episode_number"] %>)</h4></td>
          <td><h4><%= episode["name"] %></td></h4>
          <td><h4><%= episode["air_date"] %></td></h4>
          <td><h4><%= episode["overview"] %></td></h4>
          <td><h4><%= episode["vote_average"] %></td></h4>
        </tr>
        <% end %>
      </tbody>
    </table>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
